:root {
  font: max(1em, 2vmin + 3vmax) sans-serif;
}

:any-link {
  text-decoration: wavy underline;
}

:focus {
  outline: thick groove;
}

body {
  margin: auto;
}

article {
  margin: auto;
  padding: 1em 1rem;
}

samp {
  align-items: center;
  display: flex;
  flex-flow: column;
  font-size: 2em;
  font-weight: bold;
  justify-content: center;
  margin-block-start: 33vh;
  margin-block-end: 33vh;
}

figcaption {
  font-family: sans-serif;
  line-height: 1.5;
  max-width: 10em;
  position: absolute;
  top: 100vh;
  padding: 5vmin;
  padding-bottom: 5rem;
}
